
#projects{
  padding: 60px 0;
  background-color: #f4f4f4;
}

#projects .preview img{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#projects .block{
  background-color: #fff;
  padding: 30px;
}

#projects h4{

}

#projects p{

}

#projects .btn{
  display: block;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}