<app-header></app-header>
<main>
  <section id="projects">
    <div class="container full">
      <div class="row">
        <div class="col s12">
          <h3>Projects</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
            <div class="preview">
              <img src="/assets/images/temple.png" alt="temple">
            </div>
            <div class="block">
              <h4>Temple</h4>
              <p>info</p>
              <a class="btn outline" href="/project">Details</a>
            </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/simon.jpg" alt="simon">
          </div>
          <div class="block">
            <h4>Simon</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/piano.jpg" alt="piano">
          </div>
          <div class="block">
            <h4>Piano</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/football.jpeg" alt="football">
          </div>
          <div class="block">
            <h4>Football</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col s3">
            <div class="preview">
              <img src="/assets/images/temple.png" alt="temple">
            </div>
            <div class="block">
              <h4>Temple</h4>
              <p>info</p>
              <a class="btn outline" href="/project">Details</a>
            </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/simon.jpg" alt="simon">
          </div>
          <div class="block">
            <h4>Simon</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/piano.jpg" alt="piano">
          </div>
          <div class="block">
            <h4>Piano</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/football.jpeg" alt="football">
          </div>
          <div class="block">
            <h4>Football</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col s3">
            <div class="preview">
              <img src="/assets/images/temple.png" alt="temple">
            </div>
            <div class="block">
              <h4>Temple</h4>
              <p>info</p>
              <a class="btn outline" href="/project">Details</a>
            </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/simon.jpg" alt="simon">
          </div>
          <div class="block">
            <h4>Simon</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/piano.jpg" alt="piano">
          </div>
          <div class="block">
            <h4>Piano</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>
        </div>
        <div class="col s3">
          <div class="preview">
            <img src="/assets/images/football.jpeg" alt="football">
          </div>
          <div class="block">
            <h4>Football</h4>
            <p>info</p>
            <a class="btn outline" href="/project">Details</a>
          </div>          
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>