
header{
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #636;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 6px #636 solid;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
}

header ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  margin-left: 20px;
}

header a{
  padding: 5px;
  color: #fff;
  transition: 0.2s ease-in-out color;
}

header a:hover{
  color: #fff;
}

header .logo img{
  max-height: 60px;
}

header #nav{
  position: absolute;
  right: 0;
  bottom: 0;
}

.dropdown{
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
  position: fixed;
  top: -120px;
  left: 0;
  background-color: #fff;
  padding: 30px;
  width: 100%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  transition: ease-in-out 1s;
  transition-property: top;
}

.dropdown.active{
  top: 95px;
}

.dropdown ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown a{
  color: #636;
}

header #multi-language{
  position: absolute;
  right: 0;
  top: 0px;
  color: #fff;
}

header #multi-language span{
  display: block;
  position: absolute;
  top: 3px;
  left: -30px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header #multi-language span.nl{
  background-image: url("/assets/images/nl.png");
}

header #multi-language span.eng{
  background-image: url("/assets/images/en.png");
}

header #multi-language .active{
  position: relative;
}

header #multi-language ul{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

header #multi-language li{
  position: relative;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}