
#project{
  padding: 60px;
}

#project .overview img{

}

#project .overview h4{

}

#project .overview p{

}

#project #score{

}

#project #score li{

}

#project #score li:first-of-type{
  border-bottom: none;
}

#project #score b{
  font-size: 18px;
  font-weight: 500;
}

#project #score p{
  margin: 0;
  border-bottom: 2px solid #636;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#project #score span{
  
}


@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}