<app-header></app-header>
<main id="project">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3>Project</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s6 overview">
        <div class="row">
          <img src="https://via.placeholder.com/1920x1080" alt="project">
        </div>
        <div class="row">
          <h4>Omschrijving</h4>
          <p>Omschrijving</p>
        </div>
      </div>
      <div class="col s6">
        <ul id="score">
          <li><h4>Scoreboard</h4></li>
          <li>
            <b>Name</b>
            <p>Score: <span>123456789</span></p>
          </li>
          <li>
            <b>Name</b>
            <p>Score: <span>123456789</span></p>
          </li>
          <li>
            <b>Name</b>
            <p>Score: <span>123456789</span></p>
          </li>
          <li>
            <b>Name</b>
            <p>Score: <span>123456789</span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>