<menu><input checked id="shownote" type="radio" name="i"><label for="shownote">Show notes</label><input id="showkeys" type="radio" name="i"><label for="showkeys">Play with keyboard</label></menu>
<div class="keyboard"></div>

<!-- https://codepen.io/bennettfeely/pen/GvAcf -->