<footer>
  <div class="container">
    <div class="row">
      <div class="col s3">
        <a href="/home">
          <img src="/assets/images/logo-white.png" alt="logo-footer">
        </a>
      </div>
      <div class="col s3">

      </div>
      <div class="col s3">
        <ul>
          <li>Info :</li>
          <li><a src="https://fontys.edu/Contact-8/Contact-and-locations.html">Fontys Customer Contact Center</a></li>
          <li>Mail: <a href="mailto:klantcontactcentrum@fontys.nl">klantcontactcentrum@fontys.nl</a></li>
          <li>Phone: <a href="tel:+31885080000">+31(0)8850 80000</a></li>
          <li>Whatsapp: <a href="https://api.whatsapp.com/send?phone=31610176464">+31610176464</a></li>
          <li><a src="https://www.messenger.com/t/Fontys.uas">Facebook messenger</a></li>
        </ul>
      </div>
      <div class="col s3">
        <ul>
          <li>links :</li>
          <li><a href="/cookies">Cookie Statement</a></li>
          <li><a href="/privacy">Privacy Statement</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>