<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Cookie Statement</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h4>Fontys Cookie Notice </h4>
      <p>In order to offer you more services during your visit to our fontys.nl website, we make use of cookies. These are small data files that are stored on the device you are using when visiting our website. Cookies ensure for example that your preferences, such as location and language settings, are stored. Cookies also allow us to see how often visitors view our website and its individual pages. We use this information to continually improve the content of our site.  No permission is required for these (functional, anonymous) cookies.  In addition, Fontys also uses tracking cookies to show you (Fontys) advertisements. For this, we require your consent.</p>
      <p>Select which cookies you would like to accept from this website:
        <label>
          <input type="radio" value="A" name="cookieoptions" id="cookieoptionsA"> Allow all cookies
        </label>
        <label>
          <input type="radio" value="R" name="cookieoptions" id="cookieoptionsR"> Allow all functional and non-privacy sensitive cookies
        </label>
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>