<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Privacy Statement</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p>Fontys University of Applied Sciences processes the personal data of its contacts, students and staff members in order to fulfil its duties as a Dutch institution of higher education. We treat your privacy and personal data with care. And we want to be perfectly clear about that. </p>
      <h4>What personal data do we store from our contacts and why? </h4>
      <p>If you have signed up for an elective study activity for one or more Fontys study programme(s) or courses, we use your personal data to inform you about the event. For example to confirm your registration for an open day and to send you the programme. We also ask you to rate the event afterwards. Our aim is to use your assessment to further improve our elective study activities.<br>If you click on “keep me informed”, we will inform you about other Fontys activities and subjects that may be of interest to you. Examples include admissions, lottery selections and/or registrations. We do this in a personalised way, reflecting your prior education and stated interests. And always with the aim of supporting you in making the right (study) choices! </p>
      <p>If you are part of the Fontys alumni, have registered with a Fontys alumni network or for an activity or the Fontys professional network newsletter, and if you have granted us permission, we will use your data to keep you informed of related developments and events within your stated field or area of interest and for the purpose of sharing knowledge and/or increasing your career opportunities. </p>
      <p>If an organisation has registered with Fontys for an (practical) assignment (internship/post-graduate programme), the organisation and contact person's data is stored in our contacts system, in order to make these assignments available to students from the appropriate Fontys study programmes. </p>
      <p>If you are studying at Fontys, we use your personal data to faciliatate proper and personalised supervision of your studies, and to comply with the legal requirements for higher education. For example, we are obliged to report to DUO those who are registered with us and those who have received a diploma for a study programme.</p>
      <p>If you work at Fontys, we use your personal data to comply with applicable legislation, such as salary payments, fiscal requirements and pension payments, as well as for implementing the Fontys internal staffing policy and for staff administration.</p>
      <h4>Data registers Fontys</h4>
      <p>In the <a href="/Nieuws-tonen-op-3/Data-register-Fontys.htm" class="" title="Fontys data register relations and participants Eng okt2018.pdf">data registers Fontys</a> (pdf) you find the records of processing activities for: relations of Fontys, students and other education participants. If you have any questions about privacy and personal data, please contact the Fontys customer contact centre. </p>
    </div>
  </div>
</div>

<app-footer></app-footer>